@model HotelManagementSystem.Dto.RequestModel.CreateAmenityRequestModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create Amenity ";
}
<h2>Create Amenity</h2>

<form asp-controller="Amenity" asp-action="CreateAmenity">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   
    <div class="form-group">
        <label asp-for="AmenityName"></label>
        <input asp-for="AmenityName" class="form-control" />
        <span asp-validation-for="AmenityName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AmenityType"></label>
        <input asp-for="AmenityType" class="form-control" />
        <span asp-validation-for="AmenityType" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" value="Create" class="btn btn-primary"> Create  </button>
    </div>
</form>
