@model HotelManagementSystem.Dto.AmenityDto
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Edit Amenity";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12 col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Edit Amenity</h6>
                <form asp-controller="Amenity" asp-action="EditAmenity">

                    <div class="row">
                        <div class="col mb-6">
                            <label class="form-label">Amenity Name</label>
                            <input type="text" class="form-control" name="AmenityName" aria-describedby="amenity name">
                        </div>
                        <div class="col mb-6">
                            <label class="form-label">Amenity Type</label>
                            <input type="text" class="form-control" name="AmenityType">
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a href="@Url.Action("Amenities","Amenity")" class="btn btn-dark ms-2">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


