@model HotelManagementSystem.Dto.AmenityDto
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Amenity Details";
}


<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <h2>Amenity Details</h2>
        <div class="table-responsive">
            @if (Model != null)
            {
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <tbody>
                        <tr>
                            <th scope="row">Amenity Name</th>
                            <td>@Model.AmenityName</td>
                        </tr>
                        <tr>
                            <th scope="row">Amenity Type</th>
                            <td>@Model.AmenityType</td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p>Amenity details are not available.</p>
            }
            <a href="@Url.Action("Amenities", "Amenity")" class="btn btn-primary mt-3">Back to List</a>
        </div>
    </div>
</div>
