@model IEnumerable<HotelManagementSystem.Dto.AmenityDto>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Amenity";
}

<h1>Amenity Index</h1>

<p>
    <a asp-action="Create" asp-controller="Amenity">Create </a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Amenity Name</th> 
                <th>Amenity Type</th> 
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AmenityName)</td> 
                    <td>@Html.DisplayFor(modelItem => item.AmenityType)</td> 
                    
                    <td>
                        <a asp-action="EditAmenity" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="DeleteAmenity" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No amenities available</h3>
}
