@model IEnumerable<HotelManagementSystem.Dto.CustomerReviewDto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "CustomerReview";
}

<h1>CustomerReview Index</h1>

<p>
    <a asp-action="Create" asp-controller="CustomerReview">Create </a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>comment</th>
                <th>Rating</th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Comment)</td>
                    <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                    <td>
                    </td>
                    <td>
                        @*  <button type="submit" class="btn btn-sm btn-danger">Delete</button> *@

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No Review available</h3>
}