@model HotelManagementSystem.Dto.RequestModel.ChangePasswordModel
@{
    ViewData["Title"] = "Change PassWord";
    Layout = "_AdminLayout";
}

<form asp-action="ChangePassword" asp-controller="User" method="post">
    <div class="col mb-3">
        <label class="form-label">UserName</label>
        <input type="text" class="form-control" name="UserName" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">UserName is required.</div>
    </div>
    <div class="col mb-3">
        <label class="form-label">Current Password</label>
        <input type="password" class="form-control" name="CurrentPassword" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Current password is required.</div>
    </div>
    <div class="col mb-3">
        <label class="form-label">New Password</label>
        <input type="password" class="form-control" name="NewPassword" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">New password is required.</div>
    </div>
    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Change Password</button>
    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
    <a href="@Url.Action("Users","User")" class="btn btn-dark"></a>
</form>
