@model HotelManagementSystem.Dto.OrderDto

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Edit Order";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12 col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Edit Order</h6>
                <form asp-controller="Order" asp-action="EditOrder">
                    <div class="row">
                        <div class="col mb-6">
                            <label class="form-label">Product</label>
                            <select class="form-select" asp-for="ProductId" asp-items="@(ViewBag.Products as SelectList)" required>
                                <option value="">Select Product</option>
                            </select>
                        </div>
                        <div class="col mb-12">
                            <label class="form-label">Order Date</label>
                            <input type="date" class="form-control" name="OrderDate" value="@Model.OrderDate">
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a href="@Url.Action("Orders", "Order")" class="btn btn-dark ms-2">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>