@model HotelManagementSystem.Dto.CustomerStatusDto
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Check out";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12 col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Check Out</h6>
                <form asp-controller="CustomerStatus" asp-action="CheckOut">
                    <div class="row">
                        <div class="col mb-6">
                            @* <label class="form-label">Customer ID</label>
                            <select class="form-select" asp-for="CustomerId" asp-items="@(ViewBag.Customers as SelectList)" required>
                            <option value="">Select Customer</option>
                            </select> *@
                            <label class="form-label">Customer Name</label>
                            <select class="form-select" asp-for="CustomerName" asp-items="@(ViewBag.Customers as SelectList)" required>
                                <option value="">Select Customer Name</option>
                            </select>
                        </div>
                        <div class="col mb-12">
                            <label class="form-label">Check-Out Date</label>
                            <input type="date" class="form-control" asp-for="CheckOutDate" required>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Check Out</button>
                        <a href="@Url.Action("CheckOut", "CustomerStatus")" class="btn btn-dark ms-2">ShowAll</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
