@model HotelManagementSystem.Dto.RequestModel.CreateRoom

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create ";
}

<h2>Create Room</h2>

<form asp-controller="Room" asp-action="CreateRoom">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="RoomName"></label>
        <input asp-for="RoomName" class="form-control" />
        <span asp-validation-for="RoomName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RoomNumber"></label>
        <input asp-for="RoomNumber" class="form-control" />
        <span asp-validation-for="RoomNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RoomType"></label>
        <select asp-for="RoomType" class="form-control" asp-items="Html.GetEnumSelectList<HotelManagementSystem.Model.Entity.Enum.RoomType>()">
            <option value="">Select Room Type</option>
        </select>
        <span asp-validation-for="RoomType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BedType"></label>
        <select asp-for="BedType" class="form-control" asp-items="Html.GetEnumSelectList<HotelManagementSystem.Model.Entity.Enum.BedType>()">
            <option value="">Select Bed Type</option>
        </select>
        <span asp-validation-for="BedType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MaxOccupancy"></label>
        <input asp-for="MaxOccupancy" class="form-control" />
        <span asp-validation-for="MaxOccupancy" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RoomRate"></label>
        <input asp-for="RoomRate" class="form-control" />
        <span asp-validation-for="RoomRate" class="text-danger"></span>

        @* <div class="col-md-6" style="margin-top: 20px; font-size: large; font-weight: medium; color:dark">
            <i><label class="control-label"></label> </i>
            <label asp-for="Amenity"></label>

            <select asp-for="Amenity" class="form-control" asp-items="ViewBag.SelectAmenity" required>
                <option value=><i>Select The Amenity You Want </i></option>
            </select>
        </div> *@

    <div class="form-group">
        <label asp-for="RoomStatus"></label>
        <select asp-for="RoomStatus" class="form-control" asp-items="Html.GetEnumSelectList<HotelManagementSystem.Model.Entity.Enum.RoomStatus>()">
            <option value="">Select Room Status</option>
        </select>
        <span asp-validation-for="RoomStatus" class="text-danger"></span>
    </div>

        < <div class="form-group">
            <label asp-for="Availability"></label>
            <input asp-for="Availability" type="checkbox" />
            <span asp-validation-for="Availability" class="text-danger"></span>
        </div>

    <div>
        <button type="submit" value="Create" class="btn btn-primary"> Create  </button>
    </div>
</form>
